/* CSS */

  .navbar{
    background: linear-gradient(to left, #614385, #516395);
  }

  body {
    background: #007bff;
    background: linear-gradient(to right, #614385, #516395);
  }
  
  .contentor {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    
  }

  #rTable_length{
    color:white !important;
  }
  
  #rTable_filter{
    color:white !important;
  }
  .page-link{
    color:black !important;
    background-color: transparent;
  }
  
  .page-item.disabled .page-link {
    background-color:white !important;
    color: grey !important;
  }
  
  .page-item.active .page-link{
    background-color: white !important;
    color: #614385 !important;
  }
  
  .page-link:hover {
    background-color:white !important;
    color: black !important;
  }
  .paginate_button{
    background-color: transparent;
  }
  #rTable_info{
    color:white;
  }
  
